html    {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body    {
    max-width: 500px;
    margin: 0 auto;
}

input    {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus    {
    outline: none;
}

li    {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

#task    {
    text-align: center;
}

#to_dos    {
    text-align: center;
}

footer    {
    border: 3px solid darkgreen;
    border-radius: 3px;
    background-color: palegreen;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: visible;
    position: absolute;
}